<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('header') %>

  <main>
    <!-- Form to add new Todo -->
    <section>
      <form action="/todos" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="text" name="title" placeholder="Enter todo title" required />
        <input type="date" name="dueDate" required />
        <button type="submit">Add Todo</button>
      </form>
    </section>

    <!-- Overdue Todo section -->
    <section>
      <h2>Overdue</h2>
      <p id="count-overdue"><%= overdue.length %> overdue tasks</p>
      <table>
        <% overdue.forEach(todo => { %>
          <tr class="Todo-Item">
            <td>
              <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%= todo.completed ? 'checked' : '' %> onchange="updateTodo(<%= todo.id %>)" />
                <%= todo.title %> - <%= todo.dueDate %>
              </label>
            </td>
            <td>
              <a href="#" onclick="deleteTodo(<%= todo.id %>)" class="trash-icon ml-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
  </svg>
</a>

            </td>
          </tr>
        <% }) %>
      </table>
    </section>

    <!-- Due Today Todo section -->
    <section>
      <h2>Due Today</h2>
      <p id="count-due-today"><%= dueToday.length %> tasks due today</p>
      <table>
        <% dueToday.forEach(todo => { %>
          <tr class="Todo-Item">
            <td>
              <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%= todo.completed ? 'checked' : '' %> onchange="updateTodo(<%= todo.id %>)" />
                <%= todo.title %> - <%= todo.dueDate %>
              </label>
            </td>
            <td>
              <a href="#" onclick="deleteTodo(<%= todo.id %>)" class="trash-icon ml-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
  </svg>
</a>

            </td>
          </tr>
        <% }) %>
      </table>
    </section>

    <!-- Due Later Todo section -->
    <section>
      <h2>Due Later</h2>
      <p id="count-due-later"><%= dueLater.length %> tasks due later</p>
      <table>
        <% dueLater.forEach(todo => { %>
          <tr class="Todo-Item">
            <td>
              <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" <%= todo.completed ? 'checked' : '' %> onchange="updateTodo(<%= todo.id %>)" />
                <%= todo.title %> - <%= todo.dueDate %>
              </label>
            </td>
            <td>
              <a href="#" onclick="deleteTodo(<%= todo.id %>)" class="trash-icon ml-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
  </svg>
</a>

            </td>
          </tr>
        <% }) %>
      </table>
    </section>

    <!-- Completed Todo section -->
    <section>
      <h2>Completed</h2>
      <p id="count-completed"><%= completedItems.length %> completed tasks</p>
      <table>
        <% completedItems.forEach(todo => { %>
          <tr class="Todo-Item">
            <td>
              <label for="todo-<%= todo.id %>">
                <input type="checkbox" id="todo-<%= todo.id %>" checked onchange="updateTodo(<%= todo.id %>)" />
                <%= todo.title %> - <%= todo.dueDate %>
              </label>
            </td>
            <td>
             <a href="#" onclick="deleteTodo(<%= todo.id %>)" class="trash-icon ml-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
  </svg>
</a>

            </td>
          </tr>
        <% }) %>
      </table>
    </section>

  </main>

  <%- include('footer') %>

  <script>
    // Function to delete a Todo item
    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
        method: "DELETE",
        headers: { "Content-Type": "application/json",
"X-CSRF-Token": csrfToken },
      })
      .then((res) => {
if (res.ok) {
window.location.reload(); // Reload the page to reflect changes
    }
})
.catch((err) => console.error(err));
}

  function updateTodo(id) {
   fetch(`/todos/${id}/markAsCompleted`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
       "X-CSRF-Token": csrfToken
},
    
    })
    .then((res) => {
      if(res.ok) {
       window.location.reload();
}
  })
.catch((err) => console.error(err));
 
}

  const csrfToken = "<%= csrfToken %>";


  </script>

</body>
</html>
