<!DOCTYPE html>
<html>
<head>
  <title>Todo App</title>
</head>
<body>
  <h1>Todos</h1>

  <form action="/todos" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="text" name="title" placeholder="Title" required>
    <input type="date" name="dueDate" required>
    <button type="submit">Add</button>
  </form>

  <h2>Incomplete</h2>
  <ul>
    <% incompleted.forEach(todo => { %>
      <li>
        <form method="POST" action="/todos/<%= todo.id %>?_method=PUT" style="display:inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="completed" value="true">
          <input type="checkbox" onchange="this.form.submit()">
        </form>
        <%= todo.title %> - <%= todo.dueDate %>
        <form method="POST" action="/todos/<%= todo.id %>?_method=DELETE" style="display:inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <h2>Completed</h2>
  <ul>
    <% completed.forEach(todo => { %>
      <li>
        <form method="POST" action="/todos/<%= todo.id %>?_method=PUT" style="display:inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="completed" value="false">
          <input type="checkbox" checked onchange="this.form.submit()">
        </form>
        <%= todo.title %> - <%= todo.dueDate %>
        <form method="POST" action="/todos/<%= todo.id %>?_method=DELETE" style="display:inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
