<section class="my-4">
  <h5>Overdue (<span id="count-overdue"><%= overdue.length %></span>)</h5>
  <% overdue.forEach(todo => { %>
    <div class="Todo-Item">
      <input id="todo-checkbox-<%= todo.id %>" type="checkbox" />
      <label for="todo-checkbox-<%= todo.id %>"><%= todo.title %></label>
    </div>
  <% }) %>

  <h5>Due Today (<span id="count-due-today"><%= dueToday.length %></span>)</h5>
  <% dueToday.forEach(todo => { %>
    <div class="Todo-Item">
      <input id="todo-checkbox-<%= todo.id %>" type="checkbox" />
      <label for="todo-checkbox-<%= todo.id %>"><%= todo.title %></label>
    </div>
  <% }) %>

  <h5>Due Later (<span id="count-due-later"><%= dueLater.length %></span>)</h5>
  <% dueLater.forEach(todo => { %>
    <div class="Todo-Item">
      <input id="todo-checkbox-<%= todo.id %>" type="checkbox" />
      <label for="todo-checkbox-<%= todo.id %>"><%= todo.title %></label>
    </div>
  <% }) %>

  <h5>Completed Items (<span id="count-completed"><%= completed.length %></span>)</h5>
  <% completed.forEach(todo => { %>
    <div class="Todo-Item">
      <input id="todo-checkbox-<%= todo.id %>" type="checkbox" checked disabled />
      <label for="todo-checkbox-<%= todo.id %>"><%= todo.title %></label>
    </div>
  <% }) %>
</section>
