<section class="space-y-6">

  <div>
    <h5 class="text-lg font-semibold">Overdue (<span id="count-overdue"><%= overdue.length %></span>)</h5>
    <% overdue.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

  <div>
    <h5 class="text-lg font-semibold">Due Today (<span id="count-due-today"><%= dueToday.length %></span>)</h5>
    <% dueToday.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

  <div>
    <h5 class="text-lg font-semibold">Due Later (<span id="count-due-later"><%= dueLater.length %></span>)</h5>
    <% dueLater.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

</section>
