<section class="space-y-6">

  <!-- Overdue Section -->
  <div>
    <h5>Overdue</h5>
    <div id="count-overdue">(<%= overdue.length %>)</div>
    <% overdue.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

  <!-- Due Today Section -->
  <div class="mt-6">
    <h5>Due Today</h5>
    <div id="count-due-today">(<%= dueToday.length %>)</div>
    <% dueToday.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

  <!-- Due Later Section -->
  <div class="mt-6">
    <h5>Due Later</h5>
    <div id="count-due-later">(<%= dueLater.length %>)</div>
    <% dueLater.forEach(todo => { %>
      <div class="flex items-center space-x-2 mt-2">
        <input type="checkbox" id="todo-<%= todo.id %>" class="w-4 h-4 text-blue-600 rounded">
        <label for="todo-<%= todo.id %>" class="text-gray-700"><%= todo.title %></label>
      </div>
    <% }) %>
  </div>

</section>
